{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Магазин обуви{% endblock %}</title>
  {% block icon %}
  <link rel="icon" type="image/x-icon" href="{% static 'icon/Icon.ico' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'icon/Icon.ico' %}">
  {% endblock %}
  {% block style %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}
</head>
<body>
  {% if request.session.user_role %}
  <div class="header">
    <h1>Магазин обуви</h1>
    <div class="user-info">
        <span>{{ user_name }}</span>
        <a href="{% url 'main_logout' %}" class="btn btn-logout">Выйти</a>
    </div>
  </div>
  {% endif %}
  {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
  {% endif %}
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>